/*@import "../../assets/css/login.css";*/
.login-container {
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 420px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.login-type {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
}

.footer {
  margin-top: 15px;
  text-align: center;
  color: #409eff;
  cursor: pointer;
}
